<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Title</title>
<link  th:replace="layouts/base_template :: bootstrap()" />
</head>
<body>
	<nav th:replace="layouts/base_template :: navi()"></nav>
	<form method="get" action="upload/index">
		<div class="alert alert-warning" role="alert" th:if="${loginError}">ユーザ名またはパスワードが違います</div>
		<div class="container">
			<button type="submit" class="btn btn-primary">アップロード機能を使う</button>
		</div>
	</form>
	<script th:replace="layouts/base_template :: jquery()"></script>
	<script th:replace="layouts/base_template :: bootstrap_jquery()"></script>
</body>
</html>