<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Title</title>
<link  th:replace="layouts/base_template :: bootstrap()" />
</head>
<body>
	<nav th:replace="layouts/base_template :: navi()"></nav>
	<div class="container">
		<div class="alert alert-primary" role="alert" th:if="${message}" th:text="${message}">通常メッセージ</div>
		<div class="alert alert-warning" role="alert" th:if="${errorMessage}" th:text="${errorMessage}">エラーメッセージ</div>
		<form method="post" th:action="@{/upload/upload}" enctype="multipart/form-data">
			<input type="file" name="file" >
			<button type="submit" class="btn btn-primary">アップロード機能を使う</button>
		</form>
		<img th:if="${uploadFileName}" th:src="@{/{filename}(filename=${uploadFileName})}" width="320"/>
	</div>
	<script th:replace="layouts/base_template :: jquery()"></script>
	<script th:replace="layouts/base_template :: bootstrap_jquery()"></script>
</body>
</html>